# Backend build output.
backend/target/

# Frontend build output.
frontend/build/
frontend/node_modules/

# Eclipse configuration.
backend/.classpath
backend/.project
backend/.settings/

# IntelliJ IDEA configuration.
.idea/
pa-project-backend.iml
